[MASTER]
ignore=migrations

[MESSAGES CONTROL]
disable=
    missing-docstring,
    no-member,
    too-few-public-methods,
    too-many-ancestors,
    invalid-name,
    line-too-long,
    trailing-whitespace,
    missing-final-newline,
    wrong-import-order,
    unused-import,
    invalid-str-returned,
    unused-argument,
    attribute-defined-outside-init